@keyframes loader {
  0% {
    content: '.';
  }
  33% {
    content: '..';
  }
  66% {
    content: '...';
  }
}

.loader::after {
  content: '';
  display: inline-block;
  width: 4px;
  height: 4px;
  animation: loader 1s infinite steps(3);
}
