.dashboard-hero {
  height: 500px;
}
.dashboard-hero::after {
  background-image: url(../images/dashboard-hero.jpeg);
  background-size: cover;
  content: ' ';
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 0;
  opacity: 0.69;
}
